<!-- News Section Start   -->
                        <div class="center-pane-blue-surround" >
                            <div class="center-pane-blue-header-area">
                                <span class="font-bold-heavyheader">Most Mentioned Companies</span>
                            </div>
                            <div class="middle-white-area">
                                <hr class="hori-ruler-withoutpadding   mobile-hide-pane"/>
                                <div  class="heading-news">
                                    <table class="table">
                                        <tr>
                                            <td class="tb-remove-border news-image-side  no-padding">
                                                <img src="images/landingPage/latest-news-thumbnail.png"  alt="latest-news-thumbnail">
                                            </td>   
                                            <td class="tb-remove-border news-content-side  no-padding-left">
                                                <div class="content-header font-boldblue-header reduce-top-margin add-bottom-margin ">Hub Spot IPO Prices above increased price range</div>

                                                <div class="font-semilight-hideentext reduce-top-margin add-bottom-bigmargin">13 October, 2014</div>

                                               
                                            </td>   
                                        </tr>
                                    </table>

                                </div>     
                                <div class="clearfix"></div>

                                <div class="row mobile-full-pane reduce-margin-left">    
                                    <div class="col-sm-4 column-div-pane-normal">
                                        <table class="table add-bottom-margin">
                                            <tr>
                                                <td class="tb-remove-border reduce-top-padding no-padding-left">
                                                    <div class="news-bullets"></div>
                                                </td>

                                                <td class="tb-remove-border table-side-border no-padding-side">
                                                    <div class="font-semiboldblue-header reduce-top-margin">Lorem ip sum dolor sit amet, con sectetuer adipiscing elit,</div>
                                                    <span class="font-semilight-hideentext">08 October,2014</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-sm-4 column-div-pane-normal add-mobile-border">
                                        <table class="table add-bottom-margin">
                                            <tr>
                                                <td class="tb-remove-border no-padding-left">
                                                    <div class="news-bullets"></div>
                                                </td>

                                                <td class="tb-remove-border table-side-border no-padding-side">
                                                    <div class="font-semiboldblue-header reduce-top-margin">Lorem ip sum dolor sit amet, con sectetuer adipiscing elit,</div>
                                                    <span class="font-semilight-hideentext">08 October,2014</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-sm-4 column-div-pane-normal add-mobile-border ">
                                        <table class="table add-bottom-margin">
                                            <tr > 
                                                <td class="tb-remove-border no-padding-left">
                                                    <div class="news-bullets"></div>
                                                </td>

                                                <td class="tb-remove-border no-padding-left">
                                                    <div class="font-semiboldblue-header reduce-top-margin">Lorem ip sum dolor sit amet, con sectetuer adipiscing elit,</div>
                                                    <span class="font-semilight-hideentext">08 October,2014</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div> 
                        </div>    
                        <!-- News Section End   -->
