<!-- News Section Start   -->
                        <div class="center-pane-blue-surround" >
                            <div class="center-pane-blue-header-area">
                                <span class="font-bold-heavyheader">News</span>
                            </div>
                            <div class="middle-white-area">
                                <hr class="hori-ruler-withoutpadding   mobile-hide-pane"/>
                                <div  class="heading-news">
                                    <table class="table">
                                        <tr>
                                            <td class="tb-remove-border news-image-side  no-padding">
                                                <img src="images/landingPage/latest-news-thumbnail.png"  alt="latest-news-thumbnail">
                                            </td>   
                                            <td class="tb-remove-border news-content-side  no-padding-left">
                                                <div class="content-header font-boldblue-header reduce-top-margin add-bottom-margin ">Hub Spot IPO Prices above increased price range</div>

                                                <div class="font-semilight-hideentext reduce-top-margin add-bottom-bigmargin">13 October, 2014</div>

                                                Lorem ipsum dolor sit amet,consectetuer adipiscing elit,sed diam
                                                nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                                                volutpat. Ut wisi enim liquam erat
                                                volutpat. Ut wisi enim 
                                            </td>   
                                        </tr>
                                    </table>

                                </div>     
                                <div class="clearfix"></div>
                                 <div  class="heading-news">
                                    <table class="table">
                                        <tr>
                                            <td class="tb-remove-border news-image-side  no-padding">
                                                <img src="images/landingPage/latest-news-thumbnail.png"  alt="latest-news-thumbnail">
                                            </td>   
                                            <td class="tb-remove-border news-content-side  no-padding-left">
                                                <div class="content-header font-boldblue-header reduce-top-margin add-bottom-margin ">Hub Spot IPO Prices above increased price range</div>

                                                <div class="font-semilight-hideentext reduce-top-margin add-bottom-bigmargin">13 October, 2014</div>

                                                Lorem ipsum dolor sit amet,consectetuer adipiscing elit,sed diam
                                                nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                                                volutpat. Ut wisi enim liquam erat
                                                volutpat. Ut wisi enim 
                                            </td>   
                                        </tr>
                                    </table>

                                </div> 
                                     <div  class="heading-news">
                                    <table class="table">
                                        <tr>
                                            <td class="tb-remove-border news-image-side  no-padding">
                                                <img src="images/landingPage/latest-news-thumbnail.png"  alt="latest-news-thumbnail">
                                            </td>   
                                            <td class="tb-remove-border news-content-side  no-padding-left">
                                                <div class="content-header font-boldblue-header reduce-top-margin add-bottom-margin ">Hub Spot IPO Prices above increased price range</div>

                                                <div class="font-semilight-hideentext reduce-top-margin add-bottom-bigmargin">13 October, 2014</div>

                                                Lorem ipsum dolor sit amet,consectetuer adipiscing elit,sed diam
                                                nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                                                volutpat. Ut wisi enim liquam erat
                                                volutpat. Ut wisi enim 
                                            </td>   
                                        </tr>
                                    </table>

                                </div> 
                                </div>
                            </div> 
                        </div>    
                        <!-- News Section End   -->
