<html>
<head>
<title>Example with Express 4 {{title}}</title>
<link type="text/css" rel="stylesheet" media="all" href="/stylesheets/style.css">
<script data-main="/javascripts/init" src="/javascripts/lib/require.js"></script>
</head>
<body>

<h3>VS ---22-- POC</h3>

{{title}}


<p>ssss---{{#companyDetails}}{{companyDetails.entityId}}{{/companyDetails}}</p>

</body>
</html>