<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="icon" type="image/jpg" href="images/globalElements/dow-jones-icon.png" />
        <link rel="stylesheet" href="css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="css/DowJones.css" type="text/css">
        <link rel="stylesheet" href="css/carousel.css" type="text/css">
        <link rel="stylesheet" href="css/toggle-switch.css" type="text/css">
        <script data-main="/js/init" src="/js/lib/require.js"></script>
        <!--[if lt IE 9]>
                <script src="js/vendor/html5shiv.js"></script>
                <script src="js/vendor/respond.js">
             <![endif]-->
       
        <title>Venture Source :: Home</title>
    </head>
    <body>
        {{>header}}
        {{>prelogin}}
        {{>footer}}
    </body>
</html>
