
<div class="center-pane-header-area">
                                <div class="heading-text font-bold-heavyheader">Investment By Region</div>
                                <div class="switch-toggle well  toggle-pane">
                                    <input id="week" name="view"  type="radio" checked>
                                    <label for="week" class="toggle-label" onclick="">USA</label>
                                    <input id="month" name="view" type="radio" >
                                    <label for="month" class="toggle-label" onclick="">Europe</label>
                                    <a class="btn btn-primary toggle-btn"></a>
                                </div>
                            </div>
                            <div class="middle-white-area">
                                <div class="row mobile-full-pane"> 
                                    <div class="col-sm-5">

                                        <img class="europemap img-responsive center-block" src="images/landingPage/europe.jpg" alt="Map" width="271"   />
                                        <img class="usa-map img-responsive center-block" src="images/landingPage/Map_image.jpg" alt="Map" width="271"   />

                                    </div>	
                                    <div class="col-sm-7 no-padding">
                                        <div id="chart">
                                            <ul id="numbers">
                                                <li>
                                                    <span class="font-black-smalltext">200</span>
                                                </li>
                                                <li>
                                                    <span class="font-black-smalltext">180</span>
                                                </li>
                                                <li>
                                                    <span class="font-black-smalltext">160</span>
                                                </li>
                                                <li>
                                                    <span class="font-black-smalltext">140</span>
                                                </li>
                                                <li>
                                                    <span class="font-black-smalltext">120</span>
                                                </li>
                                                <li>
                                                    <span class="font-black-smalltext">100</span>
                                                </li>
                                                <li>
                                                    <span class="font-black-smalltext">&nbsp;80</span>
                                                </li>
                                                <li>
                                                    <span class="font-black-smalltext">&nbsp;60</span>
                                                </li>
                                                <li>
                                                    <span class="font-black-smalltext">&nbsp;40</span>
                                                </li>
                                                <li>
                                                    <span class="font-black-smalltext">&nbsp;20</span>
                                                </li>
                                                <li>
                                                    <span class="font-black-smalltext">&nbsp;&nbsp;0</span>
                                                </li>
                                            </ul>

                                            <ul id="bars"> 
                                                <li><div  class="bar bar1" data-percentage="172" ></div>
                                                </li> 
                                                <li><div class="bar bar2" data-percentage="169" ></div>
                                                </li>
                                                <li><div data-percentage="106" class="bar bar3"></div>
                                                </li>
                                                <li><div data-percentage="84" class="bar bar4"></div>
                                                </li>
                                                <li><div data-percentage="80" class="bar bar5"></div>
                                                </li>

                                            </ul>
                                            <ul class="nav navbar-nav graph-x-axis">
                                                <li class="graph-x-title-area">
                                                    <div class="fixed-size-square fixed-size-square1"></div>
                                                    <div class="font-black-smalltext graph-x-title">Online Communities</div>
                                                </li>
                                                <li class="graph-x-title-area">
                                                    <div class="fixed-size-square fixed-size-square2"></div>
                                                    <div class="font-black-smalltext graph-x-title">Entertainment</div>
                                                </li>
                                                <li class="graph-x-title-area">
                                                    <div class="fixed-size-square fixed-size-square3"></div>
                                                    <div class="font-black-smalltext graph-x-title">Shopping Facilities</div>
                                                </li>
                                                <li class="graph-x-title-area">
                                                    <div class="fixed-size-square fixed-size-square4"></div>
                                                    <div class="font-black-smalltext graph-x-title">Advertising/Marketing</div>
                                                </li>
                                                <li class="graph-x-title-area">
                                                    <div class="fixed-size-square fixed-size-square5"></div>
                                                    <div class="font-black-smalltext graph-x-title">Business Application Software</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>	
                                </div>	
                            </div>	
